.header {
  /* The image used */
  background-image: url("img_nature.jpg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute; 
  margin: 30px 0px 0px 0px;
  width: 100%;
}

/* The navbar */
.main-nav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.main-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main-nav span {
  float: right;
  color: lightblue;
  text-align: auto;
  padding: 7px 9px; 
  text-decoration: none;
  font-size: 25px;
}

.nav a {
  transition: all .5s;
}

.main-nav a:hover {
  color: lightblue;
}