
/*
h1, h2 {
  color: white;
  text-align: center;
  font-family: Times, Times New Roman, serif;
  padding: 5px
}

#page {
   /*background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity 
   background-image: linear-gradient(to bottom right, darkred, red); 
   /*background-image: url("pics/banner.jpeg");
    background-color: #cccccc;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative; 
}
*/
/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Times, Times New Roman, serif;
  color: #222;
  background: #35586C; /*#f7f5f0 */
}
/*
form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }
*/
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('pics/dice2.png');
/*  background-position: 10px 10px; */
  background-repeat: no-repeat;
  padding: 6px 20px 6px 40px;
  transition: width 0.4s ease-in-out;
  &:focus { & + label { opacity: 0; } } }

      


input[type=text]:focus {
  width: 25%;
}
/* Link Styles */

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: none;
}

/* Section Styles */


.roll-button {
  background-color: #6C7B8B; /*#C0D9D9; */
  border: 2px solid #35586C;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 8px;
}


.roll-button:hover {
  background-color: #35586C;
  color: #6C7B8B; 
  border: 2px solid #6C7B8B;
}

.main-nav {
  width: 100%;
  background: #6C7B8B; //* #C0D9D9; */
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .title:hover {
  color: red;
  text-decoration: underline;
  font-size: 1.8em;
  
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: red;
}

header {
  text-align: center;
  background: url('pics/banner_orginal.jpeg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}


footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 450px;
  }

  .nav {
    max-width: 1200px;
  }

  .nav .title {
    display: block;
    margin-right: auto;
    color: white;
  }

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

